{% extends 'learning_logs/base.html' %}

{% block header %}
  <h2>{{ topic }}</h2>
{% endblock header %}
{% block content %}
<h2>
<a href="{% url 'learning_logs:new_entry' topic.id %}">добавить новую запись</a>
</h2>
<p></p>
<form method="GET" action="{% url 'learning_logs:search_entry' topic.id %}" >
    <input type="text" name="q" placeholder="Search" value="{{ request.GET.q }}" />
    <button type="submit">Поиск</button>
</form>
<p></p>
<p></p>
<!-- Сюда можно включить шаблон с результатами через include
      Или выделить для него отдельный блок -->
{% for entry in entries %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3>
          {{ 'Партия' }}
          <a href="{% url 'learning_logs:read_entry' entry.id %}">
            {{ entry.name }}</a>
          {{ 'Создано:' }}
          {{ entry.date_added|date:'M d, Y H:i' }}
          {{ 'Автор:' }}
          {{ entry.owner.last_name }}
          {{ ' ' }}
          {{ entry.owner.first_name }}
          <small>
            {% if entry.owner == request.user %}
            <a href="{% url 'learning_logs:edit_entry' entry.id %}">
              изменить запись</a>
            {% endif %}
              </small>
        </h3>
      </div>
      <div class="panel-body">
        {{ entry.text|linebreaks }}
      </div>
    </div> <!-- panel -->
{% empty %}
    Здесь пока нет ни одной записи.
{% endfor %}
{% endblock content %}